@charset "UTF-8";



.right_content{
	margin		:5px;
}

.content_box {
	display		: flex;
	flex-wrap	: wrap;
}

/* --- 質問通知 解決済み通知 --- */
/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top		: 50px;
  padding-bottom	: 40px;
  background-color	: #fff;
  box-shadow		: 0 0 10px rgba(5, 0, 0, 0.2);
  width				: 400px;
  margin			: 0 ;
  }

/*タブのスタイル*/
.tab_item {
  width: calc(100%/2);
  height: 35px;
  border-bottom: 3px solid grey;
  background-color: orange;
  line-height: 35px;
  font-size: 14px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 20px 20px 0;
  clear: both;
  height:500px;
  overflow-y: scroll;
}

/*選択されているタブのコンテンツのみを表示*/
#html:checked ~ #html_content,
#css:checked ~ #css_content,
#javascript:checked ~ #javascript_content,
#java:checked ~ #java_content,
#sql:checked ~ #sql_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  color: #fff;
  width: 50%;
}

.content_box .content1 {
  box-sizing     : border-box;           /* 罫線も含む長さ      */
  background     : white;              /* BOXの背景色         */
  border         : 1px solid black;    /* 枠線の指定          */
  width          : 720px;                 /* BOXの幅     */
  height         : 160px;                 /* BOXの幅     */
  margin         : 2px;                  /* BOXの間     */
}

/* -------- 質問回答フォームテキストエリア --------*/

textarea {
  font-family: inherit;
  font-size: inherit;
  resize: none;
  width:720px;
  height:160px;
  overflow: scroll;
}

/* -------- 質問公開設定、受講者別質問管理 --------*/
.under_content {
	display:flex;
}

/* -------- 質問公開設定コンテンツ --------*/
.content_box .content2 {
  box-sizing     : border-box;           /* 罫線も含む長さ      */
  background     : white;              /* BOXの背景色         */
  border         : 1px solid black;    /* 枠線の指定          */
  width          : 350px;                 /* BOXの幅     */
  height         : 220px;                 /* BOXの幅     */
  margin         : 2px;                  /* BOXの間     */
  text-align	 : center;
}

/* -------- 受講者別質問管理 --------*/
.content_box .content3 {
  box-sizing     : border-box;           /* 罫線も含む長さ      */
  background     : white;              /* BOXの背景色         */
  border         : 1px solid black;    /* 枠線の指定          */
  width          : 350px;                 /* BOXの幅     */
  height         : 220px;                 /* BOXの幅     */
  margin         : 2px;                  /* BOXの間     */
}

/* -------- 最新質問ボタン --------*/
button.cp_btn {
	position		: relative;
	display			: block;
	width			: 350px;
	padding			: 0.5em;
	text-align		: center;
	border			: 3px solid #9C27B0;
	text-decoration	: none;
	outline			: none;
	transition		: all .4s;
}
button.cp_btn::before,
button.cp_btn::after {
	position		: absolute;
	top				: -3px;
	right			: -3px;
	bottom			: -3px;
	left			: -3px;
	z-index			: 2;
	content			: '';
	transition		: all .4s;
}
button.cp_btn::before {
	border-top		: 3px solid #FF5722;
	border-bottom	: 3px solid #FF5722;
	transform		: scale(0, 1);
}
button.cp_btn::after {
	border-right	: 3px solid #FF5722;
	border-left		: 3px solid #FF5722;
	transform		: scale(1, 0);
}
button.cp_btn:hover {
	color			: #FF5722;
}
button.cp_btn:hover::after,
button.cp_btn:hover::before {
	transform		: scale(1);
}

/* -------- モーダルウィンドウ表示　一覧２つ --------*/
.modal{
    display		: none;
    height		: 100vh;
    position	: fixed;
    top			: 0;
    width		: 70%;
}
.modal__bg{
    background	: rgba(0,0,0,0.8);
    height		: 100vh;
    position	: absolute;
    width		: 150%;
}
.modal__content{
    background	: #fff;
    left		: 50%;
    padding		: 40px;
    position	: absolute;
    top			: 50%;
    transform	: translate(-50%,-50%);
    overflow-y	: scroll;
	max-width	: inherit;
    width		: 120%;
    margin-left	: -260px;
}
/* -------- モーダルウィンドウ中身 --------*/
.cp_qa *, .cp_qa *:before, .cp_qa *:after {
	font-family: 'FontAwesome', sans-serif;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_qa {
	margin: 0 auto;
	background: #ffffff;
}
.cp_qa input {
	display: none;
}
/* カテゴリー */
.cp_qa #cp_content1,
.cp_qa #cp_content2,
.cp_qa #cp_content3,
.cp_qa #cp_content4,
.cp_qa #cp_content5,
.cp_qa #cp_content6,
.cp_qa #cp_content7,
.cp_qa #cp_content8,
.cp_qa #cp_content11,
.cp_qa #cp_content12,
.cp_qa #cp_content13,
.cp_qa #cp_content14,
.cp_qa #cp_content15,
.cp_qa #cp_content16,
.cp_qa #cp_content17,
.cp_qa #cp_content18{
	display		: none;
	padding		: 20px 0 0;
	border-top	: 1px solid #dddddd;
}
.cp_qa label.cp_tabitem {
	display		: inline-block;
	margin		: 0 0 -1px;
	padding		: 15px 25px;
	text-align	: center;
	color		: black;
	border		: 1px solid transparent;
}
.cp_qa label.cp_tabitem:before {
	margin-right: 10px;
}
.cp_qa label.cp_tabitem[for*='1']:before { content: '\f2bd'; }
.cp_qa label.cp_tabitem[for*='2']:before { content: '\f15c'; }
.cp_qa label.cp_tabitem[for*='3']:before { content: '\f0f4'; }
.cp_qa label.cp_tabitem[for*='4']:before { content: '\f001'; }
.cp_qa label.cp_tabitem[for*='5']:before { content: '\f2bd'; }
.cp_qa label.cp_tabitem[for*='6']:before { content: '\f15c'; }
.cp_qa label.cp_tabitem[for*='7']:before { content: '\f0f4'; }
.cp_qa label.cp_tabitem[for*='8']:before { content: '\f001'; }
.cp_qa label.cp_tabitem[for*='11']:before { content: '\f2bd'; }
.cp_qa label.cp_tabitem[for*='12']:before { content: '\f15c'; }
.cp_qa label.cp_tabitem[for*='13']:before { content: '\f0f4'; }
.cp_qa label.cp_tabitem[for*='14']:before { content: '\f001'; }
.cp_qa label.cp_tabitem[for*='15']:before { content: '\f2bd'; }
.cp_qa label.cp_tabitem[for*='16']:before { content: '\f15c'; }
.cp_qa label.cp_tabitem[for*='17']:before { content: '\f0f4'; }
.cp_qa label.cp_tabitem[for*='18']:before { content: '\f001'; }
.cp_qa label.cp_tabitem:hover {
	cursor: pointer;
	color: #888888;
}
.cp_qa input:checked + label {
	color: #555555;
	border: 1px solid #dddddd;
	border-bottom: 1px solid #ffffff;
}
/* --ブロックのバーの色 */
.cp_qa input:checked + label[for*='1'] {
	border-top: 5px solid #00BCD4;
}
.cp_qa input:checked + label[for*='2'] {
	border-top: 5px solid #FF5722;
}
.cp_qa input:checked + label[for*='3'] {
	border-top: 5px solid #03A9F4;
}
.cp_qa input:checked + label[for*='4'] {
	border-top: 5px solid #E91E63;
}
.cp_qa input:checked + label[for*='5'] {
	border-top: 5px solid #00BCD4;
}
.cp_qa input:checked + label[for*='6'] {
	border-top: 5px solid #FF5722;
}
.cp_qa input:checked + label[for*='7'] {
	border-top: 5px solid #03A9F4;
}
.cp_qa input:checked + label[for*='8'] {
	border-top: 5px solid #E91E63;
}
.cp_qa input:checked + label[for*='11'] {
	border-top: 5px solid #00BCD4;
}
.cp_qa input:checked + label[for*='12'] {
	border-top: 5px solid #FF5722;
}
.cp_qa input:checked + label[for*='13'] {
	border-top: 5px solid #03A9F4;
}
.cp_qa input:checked + label[for*='14'] {
	border-top: 5px solid #E91E63;
}
.cp_qa input:checked + label[for*='15'] {
	border-top: 5px solid #00BCD4;
}
.cp_qa input:checked + label[for*='16'] {
	border-top: 5px solid #FF5722;
}
.cp_qa input:checked + label[for*='17'] {
	border-top: 5px solid #03A9F4;
}
.cp_qa input:checked + label[for*='18'] {
	border-top: 5px solid #E91E63;
}
@media screen and (max-width: 650px) {
	.cp_qa label.cp_tabitem {
		font-size: 0;
	}
	label:before {
		font-size: 18px;
		margin: 0;
	}
}
@media screen and (max-width: 400px) {
	.cp_qa label.cp_tabitem {
		padding: 15px;
	}
	.cp_qa label.cp_tabitem:before {
		margin-right: 0px;
	}
}
/* QAブロック */
.cp_qa #cp_conttab1:checked ~ #cp_content1,
.cp_qa #cp_conttab2:checked ~ #cp_content2,
.cp_qa #cp_conttab3:checked ~ #cp_content3,
.cp_qa #cp_conttab4:checked ~ #cp_content4,
.cp_qa #cp_conttab5:checked ~ #cp_content5,
.cp_qa #cp_conttab6:checked ~ #cp_content6,
.cp_qa #cp_conttab7:checked ~ #cp_content7,
.cp_qa #cp_conttab8:checked ~ #cp_content8,
.cp_qa #cp_conttab11:checked ~ #cp_content11,
.cp_qa #cp_conttab12:checked ~ #cp_content12,
.cp_qa #cp_conttab13:checked ~ #cp_content13,
.cp_qa #cp_conttab14:checked ~ #cp_content14,
.cp_qa #cp_conttab15:checked ~ #cp_content15,
.cp_qa #cp_conttab16:checked ~ #cp_content16,
.cp_qa #cp_conttab17:checked ~ #cp_content17,
.cp_qa #cp_conttab18:checked ~ #cp_content18 {
  display: block;
}
.cp_qa .cp_qain {
	overflow-x: hidden;
	margin: 0 auto;
	color: #333333;
}
.cp_qa .cp_qain .cp_actab {
	padding: 3px 0;
	border-bottom: 1px dotted #cccccc;
}
/* 質問 */
.cp_qa .cp_qain label {
	position: relative;
	display: block;
	width: 100%;
	margin: 0;
	padding: 10px 10px 0 48px;
	cursor: pointer;
}
/* ＋アイコン */
.cp_qa .cp_qain .cp_plus {
	font-size: 2em;
	line-height: 100%;
	position: absolute;
	z-index: 5;
	margin-top: 3px;
	margin-left: 10px;
	-webkit-transition: 0.2s ease;
	        transition: 0.2s ease;
}

/* 答え */
.cp_qa .cp_qain .cp_actab-content {
	position: relative;
	overflow: hidden;
	height: 0;
	margin: 0 10px 0 48px;
	padding: 14px 0;
	-webkit-transition: 0.4s ease;
	        transition: 0.4s ease;
	opacity: 0;
}
/* 質問を開いた時の仕様 */
.cp_qa .cp_qain .cp_actab input[type=checkbox]:checked ~ .cp_actab-content {
	height: auto;
	opacity: 1;
}
/* 質問をクリックした時の▼アイコンの動き */
.cp_qa .cp_qain .cp_actab input[type=checkbox]:checked ~ .cp_plus {
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}

form#tab12_form{
	height:100px;
	}
