@charset "UTF-8";

/* -------  フォント  ------- */
/* --- font-family: 'M PLUS Rounded 1c', sans-serif; --- */
@import url('https：//fonts.googleapis.com/css2？family=M+PLUS+Rounded+1c＆display=swap');

/* ---  font-family: 'Noto Sans Japanese', sans-serif;  --- */
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);


html * {
  box-sizing	: border-box;

}

body {
  margin: 0 auto;
  max-width: 1000px;
  background-color: #f3f3f3;
  font-family: 'Noto Sans Japanese', sans-serif;
  color: #4d5156;
 
}

p {
  line-height: 1.6;
}

/*  見出し  */

@import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after{
  box-sizing:border-box;
}
/*
body{
  font-family: 'Lato', sans-serif;
}
*/
div.foo{
  width: 90%;
  max-width:1000px;
  margin: auto auto 10px auto;
  text-align: left;

}
.letter{
  display: inline-block;
  font-weight: 300;
  font-size: 1.575rem;
  margin: 2px;
  position: relative;
  color: #09c9d999;          /*  めくったあとの文字色  */
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color: #09C9D9;      /* 見えている文字色　　 元の色   #fff;   */
  text-shadow: 
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
  color: rgba(0,0,0,.11);   /* 影 */
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}

/* --------  font awesome  --------- */
.color_change {
  font-family: "Font Awesome 5 Brands";
  content: "\f138";
  color: #ccc;
  margin: 10px 12px 1px 10px;
  display: inline-block;
  align-items: center;
}
.color_change2 {
  font-family: "Font Awesome 5 Brands";
  margin: 1.5px 5px;
  color: #746c6c;
  display: inline-block;
  align-items: center;
}
/* ---------  ハイパーリンク  ----------- */
.href {
  color: #fffffc;
  text-decoration: none;
}

/* -----------  hr  --------- */
.hr {
  background-color: #ccc;
  height: 1px;
  border: none;
}
/* --------------  ラジオボタン  -------------- */
.custom-radio [type="radio"] {
  opacity: 0;
}

.custom-radio label {
  padding-left: 2rem;
  position: relative;
  cursor: pointer;
  font-weight: 200;
}

.custom-radio label::before {
  content: "";
  border: 2px solid #fcbd00;
  border-radius: 9999px;
  display: inline-block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  width: 20px;
}

.custom-radio [type="radio"]:focus + label .radio-text {
  background: linear-gradient(transparent 60%, #fcbd00 60%);
}

.custom-radio [type="radio"]:checked + label::before {
  border-width: 7px;
}
