@charset "UTF-8";

/* -------  フォント  ------- */
/* --- font-family: 'M PLUS Rounded 1c', sans-serif; --- */
@import url('https：//fonts.googleapis.com/css2？family=M+PLUS+Rounded+1c＆display=swap');

/* --- font-family: 'Kosugi Maru', sans-serif;; --- */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

/* ---  font-family: 'Noto Sans Japanese', sans-serif;  --- */
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);


html * {
  box-sizing	: border-box;

}

body {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #f3f3f3;
  font-family: 'Noto Sans Japanese', sans-serif;
  
 
}

p {
  line-height: 1.6;
}

/*  見出し  */

@import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after{
  box-sizing:border-box;
}
/*
body{
  font-family: 'Lato', sans-serif;
}
*/
div.foo{
  font-family: 'Lato', sans-serif;
  width: 90%;
  margin: 0 auto 10px auto;
  text-align: center;
}
.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 2.5em;
  margin: 0.2em;
  position: relative;
  color: #f9c320;          /*  めくったあとの文字色  */
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color: #09c9d999;     /* 見えている文字色　　 元の色   #fff;   */
  text-shadow: 
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
  color: rgba(0,0,0,.11);   /* 影 */
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}
