@charset "UTF-8";

/*すべてのページに適応*/
body {
	text-align: center;
}

/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 700px;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/2);
  height: 50px;
  border-bottom: 3px solid orange;
  background-color: #F2F2F2;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
  text-align: center;
}


/*選択されているタブのコンテンツのみを表示*/
#login:checked ~ #login_content,
#regist:checked ~ #regist_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: orange;
  color: #fff;
}

/*ログインの枠*/
.item_login {
	/*position: relative;*/
	width: 50%;
	/*margin: 40px 50%;*/
	padding: 40px;
	margin-left: auto;
	margin-right: auto;
}

/*新規登録の枠*/
.item_regist {
	width: 60%;
	margin: 40px 3%;
	margin-left: auto;
	margin-right: auto;
}
/*テキストボックス type = text テキストの中の文字*/
.item_login input[type='text'] {
	
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000000;
	border: 1px solid #1b2538;
	border-radius: 4px;
	margin: 0 0 10px 0;
}

.item_regist input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000000;
	border: 1px solid #1b2538;
	border-radius: 4px;
	margin: 0 0 10px 0;
}

.class_number { 
	margin: 0 0 10px 0;
}

.belong {
	margin-right: auto;
}
.content input[type='text']:focus {
	border: 1px solid #c20c33;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}

/*コンテンツ(ボックス)の配置*/
.content {
	text-align: center;
	padding: 10px;
	margin: 10px 0 10px 0;
}

/*テキストボックス type = password*/
.item_login input[type='password'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000000;
	border: 1px solid #1b2538;
	border-radius: 4px;
	margin: 0 0 10px 0;
}

.item_regist input[type='password'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #000000;
	border: 1px solid #1b2538;
	border-radius: 4px;
	margin: 0 0 10px 0;
}

.content input[type='password']:focus {
	border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}

/*以下ボタンスタイル*/
button {
  padding: 20px 0 20px 0;
  background-color: #fff;
  border: 1px solid #282828;
  border-radius: 2px;
  cursor: pointer;
  font-size: 30px;
}

.popup {
    display: none;
    height: 100vh;
    width: 100%;
    background: black;
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
}
 
.content_popup{
    background: #fff;
    padding: 30px;
    width: 50%;
}

.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 入力エラーのスタイル */
/*input[type=text]:required,
input[type=password]:required,
textarea:required {
	color: #630015;
	border-color: #c20c33;
	background-color: #ffd9e1;
}*/

/*入力しているときは青、入力していないと赤になる*/
input {
  background-color: #FFF;
}

input:placeholder-shown {
  background-color: #FFE4B3;
}

.button {
	padding-top: 70px 0 50px 0;
	font-size: 30px;
}

/*ログアウトしましたメッセージ*/
.logout_cont {
	margin: 5px;
}

/*ログイン失敗ページ*/
h2 {
	color: #565656;
	
}