@charset "UTF-8";

header {
  display: block;
  overflow: hidden;
  position: relative;
  padding-bottom: 3em;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px; 
}

.container {
	border-bottom: 1px solid #ccc6;
  width: 1000px;
  margin: 20px auto 60px auto;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 30px 80px;
  background-color: #fffffc;;
}
.introducation {
  margin: 30px auto;
}
.bg {
  width: 100%;
  margin-top: 5%;
  margin-inline-start: 0.5px;
  border-bottom: 8px solid #FF773E;
}

.bio {
  background-color: #FFAD90;
  background-image: url(../logo/profile_header2.png);
}
.bio:hover > .desc {
  cursor: pointer;
  opacity: 1;
}

.file {
  position: relative;
  text-align: center;
}

.file input[type="file"] {
  top: -150px;
  right: 300px;
  position: absolute;
}


.avatarcontainer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 70px;
  height: 70px;
  display: block; 
}

.avatarcontainer:hover > .hover {
    opacity: 1; 
}

.result img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: center center;
}
.avatar {
  width: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  position: relative; 
}
.avatar img {
  width: 65px;
  height: 65px; 
}
.avatar:hover + .hover {
  opacity: 1;
  cursor: pointer; 
}

.icon {
 background-image: url(../logo/computer_businessman.png);
 background: no-repeat;
    /* position: absolute; */
    width: 180px;
    height: 180px;
    margin: -350px -370px;
    cursor: pointer;
    /* top: -110px; */
    /* left: -360px; */
    /* background-color: #FFAD90; */
    /* top: -110px; */
    /* left: -400px; */
    font-size: 1.8em;
    text-align: center;
    color: #fffffc;
    /* padding-top: 18%; */
    opacity: 1;
    font-weight: 300;
    border: 1px solid #f3f3f3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
}

.data {
  margin-top: .6em;
  color: #81878B;
}
.data li {
  width: 32%;
  text-align: center;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Lato';
  border-right: solid 1px #BDC3C7;
}
.data li:last-child {
  border: none; 
}

.data li span {
      display: block;
      text-transform: uppercase;
      font-family: 'Quicksand';
      font-size: .5em;
      margin-top: .6em;
      font-weight:700;
    }
    
.desc {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 171px;
  padding: 1.2em 1em 0 1em;
  color: #fffffc;
  text-align: center;
  opacity: 0;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }
  .desc h3 {
    font-family: "Lato";
    font-size: 1.5em;;
    margin-bottom: .5em; }
  .desc p {
    font-size: .9em;
    font-family: 'Quicksand';
    line-height: 1.5em; }
    
/*    bottun   */

.edit {
  text-align: center;
  margin-top: 20px;
}
/*
.edit :hover {
    color:  #FFAD90;
    cursor: pointer; 
}
*/

/* -------------  ボタン  -------------- */
#h_edit, #h_submit, #h_reset {
  outline: none;
  border: 1px solid #09c9d999;
  width: 100px;
  height: 30px;
  color: #fffffc;
  background-color: #09c9d999;
  border-radius: 100vh;
  cursor: pointer;
}

#h_edit:hover, #h_submit:hover, #h_reset:hover {
  color: #fffffc;
  background: #09C9D9;
}


label {
	margin-inline-start: 100px;
}
div.mandatory{
	overflow: hidden;
}
div.choice{
	overflow: hidden;
}
input#A1,#A2,#A3,#A4,#A5,#A6,#A7,#A8,#A9,#A10,#A11,#A12,#A13{
	float: right;
	clear: both;
	margin-right: 50px;

}

.preview {
  background-color: #ffad90;
  min-height: 200px;
  text-align: center;
  width: 1000px;
}

canvas {
  background-color: #ffad90;
  max-height: 200px;
  text-align: center;
  width: 1000px;
  object-fit: cover;
}

/* --------------------自分の質問------------------------------------ */
.cp_qa *, .cp_qa *:after, .cp_qa *:before {
	-webkit-box-sizing	: border-box;
	        box-sizing	: border-box;
}

.cp_qa .cp_actab {
	position			: relative;
	overflow			: hidden;
	width				: 100%;
	margin-bottom		: 1px;
	color				: #1b2538;
}
.cp_qa .cp_actab input {
	position			: absolute;
	opacity				: 0;
}
/* 質問 */
.cp_qa .cp_actab label {
	line-height			: 1.6;
	position			: relative;
	display				: block;
	margin				: 0 0 0 0;
	padding				: 1em 2em 1em 1em;
	cursor				: pointer;
	border-bottom		: 1px solid #1b2538;
}
.cp_qa .cp_actab label:hover {
	color: #00838F;
}
/* 答え */
.cp_qa .cp_actab .cp_actab-content {
	overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 0.5s ease;
    transition: max-height 0.5s ease;
    background-color: #f3f3f3;
    border-radius: 18px;
    margin: 10px 20px 10px 32px;
}
.cp_qa .cp_actab .cp_actab-content p {
	margin: 1em;
}
/* 質問を開いた時の仕様 */
/* --アイコン */
.cp_qa .cp_actab input:checked ~ label {
	color: #09C9D9;
}
/* --答えの高さ */
.cp_qa .cp_actab input:checked ~ .cp_actab-content {
	max-height: 40em;
}
/* 質問をクリックした時のアイコンの動き */
.cp_qa .cp_actab label::after {
	line-height: 1.6;
	position: absolute;
	top: 50%;
	right: 0;
	display: block;
	width: 3em;
	margin-top: -12.5px;
	-webkit-transition: all 0.5s ease;
	        transition: all 0.5s ease;
	text-align: center;
}
.cp_qa .cp_actab input[type=checkbox] + label::after {
	content: '👇';
}
.cp_qa .cp_actab input[type=checkbox]:checked + label::after {
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

/* 削除更新ボタン */
#display_form {
  margin: 0 auto 15px 16px;
}

#display_form button[name="button"] {
  margin-right: 10px;
  outline: none;
  border: 1px solid #09c9d999;
  width: 100px;
  height: 30px;
  color: #fffffc;
  background-color: #09c9d999;
  border-radius: 100vh;
  cursor: pointer;
}

#display_form button[name="button"]:hover {
  color: #fffffc;
  background: #09C9D9;
}

/*  過去の質問一覧  */
.container2 {
	border-bottom: 1px solid #ccc6;
  width: 1000px;
  height: auto;
  min-height: 200px;
  margin: 20px auto auto auto;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  padding: 20px 30px;
  background-color: #fffffc;
}
.old_p_list {
  margin: 0;
  font-weight: 300;
}

