@charset "UTF-8";

/* -------- 個別投稿のすべてのページに適用 -------- */
html {
  font-family: sans-serif;
}

html * {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1000px;
}

/* -------- <h?>タグ -------- */
h1{
   font-weight: lighter;
}


h2{
  text-align: center;
  position: relative;
  padding: 0.2em 0.5em;
  background-color: #ffc06e;
  color: white;
  font-weight: lighter;
  margin-block: 30px;
  width: auto;

}

/* -------- フォーム -------- */
.form-wrapper {
  display: flex;
}

.form1 {
  padding: 5px;
}

.A_level, .question_cat {
  padding-top: 5px;
}

.emergency, .Q_content {
  padding-top: 20px;
}

.form2 {
  padding-left: 80px;
  padding-top: 15px;
}

/* --------------- タブ切り替え -----------------*/
.cp_qa *, .cp_qa *:before, .cp_qa *:after {
	font-family: 'FontAwesome', sans-serif;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.cp_qa {
	margin: 0 auto;
	background: #ffffff;
}

.cp_qa input {
	display: none;
}

/* ------------------- カテゴリー ---------------- */

/* 質問内容・回答の表示エリア */
.cp_qa #cp_content1,
.cp_qa #cp_content2{
	display: none;
	padding: 20px 0 0;
	border-top: 1px solid #dddddd;
}

/* エリア全体(.cp_qa) labelは項目表示部分 */
.cp_qa label.cp_tabitem {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	text-align: center;
	color: #bbbbbb;
	border: 1px solid transparent;
}

.cp_qa label.cp_tabitem:before {
	margin-right: 10px;
}

.cp_qa label.cp_tabitem:hover {
	cursor: pointer;
	color: #888888;
}
.cp_qa input:checked + label {
	color: #555555;
	border: 1px solid #dddddd;
	border-bottom: 1px solid #ffffff;
}

/* --ブロックのバーの色 */
.cp_qa input:checked + label[for*='1'] {
	border-top: 5px solid #ffc06e;
}
.cp_qa input:checked + label[for*='2'] {
	border-top: 5px solid #fd8b68;
}

/* レスポンシブデザイン対応 */
@media screen and (max-width: 650px) {
	.cp_qa label.cp_tabitem {
		font-size: 0;
	}
	label:before {
		font-size: 18px;
		margin: 0;
	}
}

@media screen and (max-width: 400px) {
	.cp_qa label.cp_tabitem {
		padding: 15px;
	}
	.cp_qa label.cp_tabitem:before {
		margin-right: 0px;
	}
}

/* Q&Aブロック */
.cp_qa #cp_conttab1:checked ~ #cp_content1,
.cp_qa #cp_conttab2:checked ~ #cp_content2 {
  display: block;
}

/* Q&A 内部(.cp_qain) */
.cp_qa .cp_qain {
	overflow-x: hidden;
	margin: 0 auto;
	color: #333333;
}

/* .cp_actab はQ&A 1つずつのブロック */
.cp_qa .cp_qain .cp_actab {
	padding: 20px 0;
	border-bottom: 1px dotted #cccccc;
}

/* 質問表示部分 */
.cp_qa .cp_qain label {
	position: relative;
	display: block;
	width: 100%;
	margin: 0;
	padding: 10px 10px 0 48px;
	cursor: pointer;
}
/* ＋アイコン */
.cp_qa .cp_qain .cp_plus {
	font-size: 2em;
	line-height: 100%;
	position: absolute;
	z-index: 5;
	margin-top: 3px;
	margin-left: 10px;
	-webkit-transition: 0.2s ease;
	        transition: 0.2s ease;
}

/* 答え */
.cp_qa .cp_qain .cp_actab-content {
	position: relative;
	overflow: hidden;
	height: 0;
	margin: 0 10px 0 48px;
	padding: 14px 0;
	-webkit-transition: 0.4s ease;
	        transition: 0.4s ease;
	opacity: 0;
}
/* 質問を開いた時の仕様 */
input[type=checkbox]:checked ~ .cp_actab-content {
	height: auto;
	opacity: 1;
}
/* 質問をクリックした時の▼アイコンの動き */
 input[type=checkbox]:checked ~ .cp_plus {
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);     
}

/* -------- テキストエリア --------*/

textarea {
  font-family: inherit;
  font-size: 16px;
  resize: none;
  width:500px;
  height:200px;
  overflow: scroll;
}
.Q_content label {
  font-size: 22px;
  
}

/* --------ドラッグ＆ドロップ -------- */
#dragDropArea{
  background-color: #f4f4f4;
  margin: 10px;
  padding: 10px;
  border: #ddd dashed 5px;
  min-height: 200px;
  text-align: center;
  width: 400px;
}

#dragDropArea p{
    color: #999;
    font-weight: bold;
    font-size: 14px;
    font-size: 1.1em;
}

#dragDropArea .drag-drop-buttons{
    margin-top: 20px;
    font-size: 12px;
    font-size: 1.2em;
}

.drag-drop-buttons input{
    margin: auto;
}


/* -------- 登録ボタン --------*/
@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext';

input[name="Q_submit"] {
  color: #454545;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #454545;
  position: relative;
  margin: 1em;
  display: inline-block;
  padding: 0.5em 1em;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-family: comfortaa;
  font-weight: bold;
  width: 350px;

}

input[name="Q_submit"]:before, input[name="Q_submit"]:after {
  content: '';
  display: block;
  position: absolute;
  border-color: #454545;
  box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: all 0.3s ease-in-out;
}
	
input[name="Q_submit"]:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}

input[name="Q_submit"]:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}

input[name="Q_submit"]:hover:before, input[name="Q_submit"]:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #fff;
}
  
input[name="Q_submit"]:hover {
  color: #353535;
  background-color: #fff;
  border-color: #fff;
}

.Q_submit {
  max-width: 960px;
  text-align: center;
  position: relative;
  margin: auto;
  padding-top: 40px;
}

/* -------- <button>タグ --------*/
@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext';

button {
  color: #454545;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #454545;
  position: relative;
  margin: 1em;
  display: inline-block;
  padding: 0.5em 1em;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-family: comfortaa;
  font-weight: bold;
}

button:before, button:after {
  content: '';
  display: block;
  position: absolute;
  border-color: #f3f3f3;
  box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: all 0.3s ease-in-out;
}
	
button:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}

button:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}

button:hover:before, button:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #fff;
}
  
button:hover {
  color: #353535;
  background-color: #fff;
  border-color: #fff;
}

.panel {
  max-width: 960px;
  text-align: center;
  position: relative;
  margin: auto;
}



