@charset "UTF-8";

/* -------- 個別投稿のすべてのページに適用 -------- */
html {
  font-family: sans-serif;
}

html * {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: auto;
}

/* -------- <h?>タグ -------- */
h1{
   font-weight: lighter;
}


h2{
  text-align: center;
  position: relative;
  padding: 0.2em 0.5em;
  background-color: #ffc06e;
  color: white;
  font-weight: lighter;
  margin-block: 30px;
  width: auto;

}

/* -------- フォーム -------- */
.form-wrapper {
  display: flex;
}

.form1 {
  padding: 5px;
}

.ans_items, .question_cat {
  padding-top: 5px;
}

.emergency, .Q_cont {
  padding-top: 10px;
}



.form2 {
  padding-left: 80px;
  padding-top: 15px;
}

/* -------- 質問タブ・質問リスト -------- */
/*タブ切り替え全体のスタイル*/
.Q_tab {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: auto;
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
}

/*タブのスタイル*/
.tab_name {
  width: calc(100%/2);
  height: 50px;
  border-bottom: 3px solid #ffc06e;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  font-weight: bold;
  transition: all 0.2s ease;
  order: -1;
}

/*ラジオボタンを全て消す*/
input[name="tab_name"] {
  display: none;
}

.tab_name :hover {
  opacity: 0.75;
}


/*タブ切り替えの中身のスタイル*/
.Q_tabCont {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}

/*選択されているタブのコンテンツのみを表示*/
input:checked + .tab_name + .Q_tabCont {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.Q_tab input:checked + .tab_name {
  background-color: #ffc06e;
  color: #fff;
}

/* -------- カテゴリ選択 --------*/


/* -------- テキストエリア --------*/

textarea {
  font-family: inherit;
  font-size: inherit;
  resize: none;
  width:500px;
  height:200px;
  overflow: scroll;
}
.Q_cont label {
  font-size: 18px;
  font-weight: bold;
}

/* --------ドラッグ＆ドロップ -------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/*
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #5256ad;
}
*/
.drag-area{
  border: 2px dashed #fff;
  height: 350px;
  width: 500px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffc06e;
}
.drag-area.active{
  border: 2px solid #fff;
}
.drag-area .icon{
  font-size: 100px;
  color: #fff;
}
.drag-area header{
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #ffc06e;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}



/*
.image-input {
  background-color: #eee;
  width: 300px;
  height: 300px;
}
.image-input__field {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-input__field.over {
  background-color: #666;
}
.image-input__field > input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.image-input__field > p {
  color: #aaa;
  text-align: center;
}

/* -------- 画像添付欄 --------*/
/*
#drag-and-drop-area {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  width: 500px;
  height: 150px;
  cursor: pointer;
}

#drag-and-drop-area :active {
    background-color: lightyellow;
}

.hidden {
  display: none;
}

#previews {
  border: 1px solid gray;
  min-height: 10px;
  background-color: #f3f3f3;
  margin-bottom: 10px;
  padding: 60px;
}

#previews img {
    max-width: 100px;
    max-height: 100px;
}

/* -------- 登録ボタン --------*/
@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext';

input[name="Q_submit"] {
  color: #454545;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #454545;
  position: relative;
  margin: 1em;
  display: inline-block;
  padding: 0.5em 1em;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-family: comfortaa;
  font-weight: bold;
  width: 350px;

}

input[name="Q_submit"]:before, input[name="Q_submit"]:after {
  content: '';
  display: block;
  position: absolute;
  border-color: #454545;
  box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: all 0.3s ease-in-out;
}
	
input[name="Q_submit"]:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}

input[name="Q_submit"]:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}

input[name="Q_submit"]:hover:before, input[name="Q_submit"]:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #fff;
}
  
input[name="Q_submit"]:hover {
  color: #353535;
  background-color: #fff;
  border-color: #fff;
}

.Q_submit {
  max-width: 960px;
  text-align: center;
  position: relative;
  margin: auto;
  padding-top: 40px;
}

/* -------- <button>タグ --------*/
@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext';

button {
  color: #454545;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #454545;
  position: relative;
  margin: 1em;
  display: inline-block;
  padding: 0.5em 1em;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-family: comfortaa;
  font-weight: bold;
}

button:before, button:after {
  content: '';
  display: block;
  position: absolute;
  border-color: #f3f3f3;
  box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: all 0.3s ease-in-out;
}
	
button:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}

button:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}

button:hover:before, button:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #fff;
}
  
button:hover {
  color: #353535;
  background-color: #fff;
  border-color: #fff;
}

.panel {
  max-width: 960px;
  text-align: center;
  position: relative;
  margin: auto;
}



