@charset "UTF-8";

html * {
	box-sizing	: border-box;
}
body {
	margin		: 0 0 0 0;
}

/* --- h3タグ --- */
h3 {
	text-align:center;
	margin:2px ;
}
/* --- お知らせ --- */
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.info {margin: 1em auto;padding: 0 1.5em;border: 1px solid #ccc;text-align: left;font-size: 1em;line-height: 1.2;color: #444;overflow: auto;width: 90%;height: 8em;background-color: #fcfcfc;}
.info dl {padding: 0.5em 0;border-bottom: 1px solid #ccc;font-size:10px;}
.info dt {padding-bottom: 0;width: 5em;font-size:10px;}
@media screen and (min-width: 480px) {
.info dt {clear: left;float: left;}
.info dd {margin-left: 1em;}
}

/* --- よくある質問集コンテンツ、最近の質問コンテンツ --- */
.box {
  margin         : auto;                 /* 中央寄せ */
  box-sizing     : border-box;           /* 罫線も含む長さ      */
  background     : #fff;                 /* BOXの背景色         */
  border         : 1px solid #666;       /* 枠線の指定          */
  width          : 1200px;                /* BOXの幅             */
  display        : flex;                 /* FlexBox定義         */
  flex-wrap      : wrap;                 /* 折り返し定義        */
}

 /*最近の質問BOXの定義*/
.box .content {
  box-sizing     : border-box;           /* 罫線も含む長さ      */
  background     : white;              /* BOXの背景色         */
  border         : 1px solid black;    /* 枠線の指定          */
  width          : 300px;                 /* サンプルBOXの幅     */
  height         : 400px;                 /* サンプルBOXの幅     */
  margin         : 2px;                  /* サンプルBOXの間     */
  overflow-y: scroll;

  /* FlexBoxの各ボックス均等自動幅 */
  flex-grow      : 1;                    /* 各BOXを均等に割当て */
}

/* --- 最近の質問の文字の大きさ指定 --- */
.q_list {
	font-size:12px;
}

/* --- よくある質問集 --- */
/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(5, 0, 0, 0.2);
  width: 550px;
  margin: 0 ;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/5);
  height: 35px;
  border-bottom: 3px solid grey;
  background-color: orange;
  line-height: 35px;
  font-size: 14px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#html:checked ~ #html_content,
#css:checked ~ #css_content,
#javascript:checked ~ #javascript_content,
#java:checked ~ #java_content,
#sql:checked ~ #sql_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  color: #fff;
  width: 20%;

}

/* --- プロフィール --- */
.box .profile {
  margin: 15px auto;                 /* サンプル用 中央寄せ */
  box-sizing: border-box;           /* 罫線も含む長さ      */
  background: #fff;             /* BOXの背景色         */
  border: 1px solid #666;       /* 枠線の指定          */
  width: 1200px;                 /* BOXの幅             */
  height: 250px;
}
