@charset "UTF-8";

/*---------検索ページ用 <共通作成時に削除予定>---------*/
/*
  font-family : noto-sans-cjk-jp, sans-serif;
*/

a:link{
	color		:#d25833;
}
a:visited{
	color		:#d25833;
}
a:hover{
	color		:#e3937a;
}
a:active{
	color		:#ff6a3b;
}

/*-----------------共通メニュー用 <共通作成時に削除予定>-----------------*/
.nav li{
	display: inline	;
	list-style-type	: none;
	padding-right	: 30px;
}
.nav ul{
	margin			 : 0 0 0 0;
	padding			 : 20px 10px 15px 20px;
	background-image : url(../images/menu-bg.png);
	background-repeat: repeat-x;
}
.nav a:link{
	color			: #3c454d;
	text-decoration	: none;
}
.nav a:visited{
	color			: #3c454d;
	text-decoration	: none;
}
.nav a:hover{
	color			: #7b8dac;
	text-decoration	: none;
}
.nav a:active{
	color			: #5a9bc0;
	text-decoration	: none;
}
/*-----------------検索窓 全体用-----------------*/
.search_window {
	top				: 5px;
	background-color:#eeece9;
	border			: 2px solid gold;
	padding			: 10px;
}

.search_body {
  margin: 0 auto;
  max-width: 100%;
  display        : flex;
  flex-wrap      : wrap;
}

.search_body .content {
  background     : white;
  border         : 2px solid #35557f;
  width          : 300px;
  height         : 400px;
  margin         : 2px;
  flex-grow      : 1;
}

/*  --------------  見出し  -------------- */
#foo_serch1 {
  margin: 0 30px 10px;
  width: 720px;
  display: inline-block;
}

#foo_serch2 {
  margin: 0 0 10px 47px;
  width: 30%;
  display: inline-block;
  letter-spacing: -0.4em;
}

/*-----------------検索ランキング用-----------------*/
.tabs {
  margin			: 0 auto;  
  padding			: 20px 35px;
  background-color	: #fff;
  box-shadow		: 0 0 10px rgba(0, 0, 0, 0.2);
  width				: 320px;
  box-shadow: #bdc3c7 0 5px 5px;
  -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

  }

	/*タブのスタイル*/
.tab_item {
  width				: 50%;
  height			: 50px;
  border-bottom		: 3px solid gold;
  background-color	: #d9d9d9;
  line-height		: 50px;
  font-size			: 16px;
  text-align		: center;
  color				: #565656;
  display			: block;
  float				: left;
  text-align		: center;
  font-weight		: bold;
  transition		: all 0.2s ease;
  cursor: pointer;
}
.tab_item:hover {
  opacity	: 0.75;
}

	/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display	: none;
}

	/*タブ切り替えの中身のスタイル*/
.tab_content {
  display	: none;
  padding	: 25px 20px 0;
  clear		: both;
  overflow	: hidden;
  line-height: 1.8;
}

	/*選択されているタブのコンテンツのみを表示*/
#w_ranking:checked ~ #w_ranking_content,
#a_ranking:checked ~ #a_ranking_content{
  display	: block;
}

	/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color	: gold;
  color				: #fff;
}

/*-----------------講師・事務局切替-----------------*/
.tabs2 {
  margin: 0 50px 0 auto;
  padding: 20px 40px 0;
  background-color	: #fff;
/*  box-shadow		: 0 0 10px rgba(0, 0, 0, 0.2);   */
  width				: 780px;
  height			: 310px;
  float				: left;
  box-shadow: #bdc3c7 0 5px 5px;
  -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

  }

	/*タブのスタイル*/
.tab_item2 {
  width				: 50%;
  height			: 50px;
  border-bottom		: 3px solid gold;
  background-color	: #d9d9d9;
  line-height		: 50px;
  font-size			: 16px;
  text-align		: center;
  color				: #565656;
  display			: block;
  float				: left;
  text-align		: center;
  font-weight		: bold;
  transition		: all 0.2s ease;
  cursor: pointer;
}
.tab_item2:hover {
  opacity		: 0.75;
}

	/*ラジオボタンを全て消す*/
input[name="tab_item2"] {
  display		: none;
}

	/*タブ切り替えの中身のスタイル*/
.tab_content2 {
  display		: none;
  padding		: 50px 40px 0 80px;
  clear			: both;
  overflow		: hidden;
}

	/*選択されているタブのコンテンツのみを表示*/
#teacher:checked ~ #teacher_content,
#office:checked ~ #office_content{
  display		: block;
}

.tabs2 input:checked + .tab_item2 {
  background-color	: gold;
  color				: #fff;
}

/*-----------------ジャンル切替-----------------*/
	/*大ジャンル*/
.major_item{
	color	:black;
}
	/*中ジャンル*/
.sub_item {
	color	:black;
}

/*-----------------検索結果出力 全体用-----------------*/
.search_results {
  padding		 : 10px;
}

.result_body {
  margin: 40px 0 auto;
  max-width: 100%;
  margin-left: -7px;
  flex-wrap: wrap;
  width: 100%;
  height: 200px;
  background: white;
  padding: 10px 40px;
  box-shadow: #bdc3c7 0 5px 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
} 
.cp_qa *, .cp_qa *:after, .cp_qa *:before {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_qa .cp_actab {
	position		: relative;
	overflow		: hidden;
	width			: 100%;
	margin			: 0 0 1em 0;
	color			: #1b2538;
}
.cp_qa .cp_actab input {
	position		: absolute;
	opacity			: 0;
}
/* 質問 */
.cp_qa .cp_actab label {
	font-weight		: bold;
	line-height		: 1.6em;
	position		: relative;
	display			: block;
	margin			: 0 0 0 0;
	padding			: 1em 2em 1em 2.5em;
	cursor			: pointer;
	text-indent		: 1em;
	border-radius	: 0.5em;
	background		: rgba(27,37,56,0.1);
}
.cp_qa .cp_actab label::before {
	font-family		: serif;
	font-size		: 1.5em;
	margin-left		: -2em;
	padding-right	: 0.5em;
	content			: 'Q';
}
.cp_qa .cp_actab label:hover {
	transition		: all 0.3s;
	color			: #00838f;
}
/* --質問の＋アイコン */
.cp_qa .cp_actab label::after {
	font-size		: 1.7em;
	font-weight		: bold;
	line-height		: 2em;
	position		: absolute;
	top				: 0;
	right			: 0;
	content			: 'b';
	display			: inline-block;
	width			: 2em;
	height			: 2em;
	-webkit-transition: transform 0.4s;
	        transition: transform 0.4s;
}
/* 答え */
.cp_qa .cp_actab .cp_actab-content {
	position		: relative;
	overflow		: hidden;
	max-height		: 0;
	padding			: 0 0 0 2.5em;
	-webkit-transition: max-height 0.2s;
	        transition: max-height 0.2s;
	border-radius	: 0 0 0.5em 0.5em;
}
.cp_qa .cp_actab .cp_actab-content::before {
	font-family		: serif;
	font-size		: 1.5em;
	position		: absolute;
	margin			: 0.4em 0 0 -1em;
	padding			: 0;
	content			: 'A';
}
.cp_qa .cp_actab .cp_actab-content p {
	margin			: 1em 1em 1em 0;
}
/* 質問を開いた時の仕様 */
/* --答えの高さ */
.cp_qa .cp_actab input:checked ~ .cp_actab-content {
	max-height		: 40em;
	border			: 10px solid rgba(27,37,56,0.1);
}
/* 質問をクリックした時のアイコンの動き */
.cp_qa .cp_actab input:checked ~ label {
	color			: #00838f;
	border-radius	: 0.5em 0.5em 0 0;
}
/* 質問をクリックした時の+の動き */
.cp_qa .cp_actab input[type=checkbox]:checked + label::after {
	-webkit-transform		: rotateZ(45deg);
	transform				: rotateZ(45deg);
	-webkit-transform-origin: 50% 50%;
	transform-origin		: 50% 50%;
}